.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 18px;
  border-radius: 18px;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: default;
}

.contact__option-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.contact__option a {
  margin-top: 11px;
  display: inline-block;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input,
textarea {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

.send__container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.notify-success {
  color: #42ba96;
}

.notify-error {
  color: #df4759;
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
